<%= stylesheet_link_tag "redmine_close_button.css", :plugin => 'redmine_close_button' %>
<%= link_to l(:button_close), 'javascript:;', :class => 'icon icon-close redmine-close-button' %>
<%= javascript_include_tag "redmine_close_button.js", :plugin => 'redmine_close_button' %>

